/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 @import '~antd/dist/antd.css';

 .App {
  line-height: 84px;
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: drag;
 }
